USE [Register]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 1/11/2022 4:58:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](40) NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/11/2022 4:58:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](60) NOT NULL,
	[UserName] [nchar](40) NOT NULL,
	[Tel] [int] NULL,
	[Region] [nchar](70) NULL,
	[JobId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[FullInfoUser]    Script Date: 1/11/2022 4:58:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FullInfoUser]
as
select [User].Id,[User].Name,[User].UserName,[User].Region,[User].Tel,Job.Name 'Job'
from [User]
Join Job on [User].JobId=Job.Id
GO
/****** Object:  Table [dbo].[CoyUser]    Script Date: 1/11/2022 4:58:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoyUser](
	[UserId] [int] NOT NULL,
	[Name] [nchar](60) NOT NULL,
	[UserName] [nchar](40) NOT NULL,
	[Tel] [int] NULL,
	[Region] [nchar](70) NULL,
	[JobId] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CoyUser] ([UserId], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (6, N'Ahmed                                                       ', N'Ahmed00                                 ', 555554, N'Balaken                                                               ', 2)
INSERT [dbo].[CoyUser] ([UserId], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (7, N'Ahmed                                                       ', N'Ahmed77                                 ', 789878, N'Balaken                                                               ', 2)
INSERT [dbo].[CoyUser] ([UserId], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (8, N'Mehmet                                                      ', N'Mhemetcik99                             ', 7879789, N'Diyarbakir                                                            ', 2)
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

INSERT [dbo].[Job] ([Id], [Name]) VALUES (1, N'Teacher                                 ')
INSERT [dbo].[Job] ([Id], [Name]) VALUES (2, N'Enginner                                ')
INSERT [dbo].[Job] ([Id], [Name]) VALUES (3, N'Developer                               ')
SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (1, N'Ali                                                         ', N'Ali55                                   ', 5555666, N'Qazak                                                                 ', 1)
INSERT [dbo].[User] ([Id], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (2, N'Jon                                                         ', N'Jhon                                    ', 6656564, N'Amerika                                                               ', 3)
INSERT [dbo].[User] ([Id], [Name], [UserName], [Tel], [Region], [JobId]) VALUES (3, N'Berke                                                       ', N'Berk                                    ', 77784456, N'Turk                                                                  ', 4)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[CoyUser]  WITH CHECK ADD  CONSTRAINT [FK_CoyUser_Job] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[CoyUser] CHECK CONSTRAINT [FK_CoyUser_Job]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Job] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Job]
GO
/****** Object:  StoredProcedure [dbo].[usp_SearchJobId]    Script Date: 1/11/2022 4:58:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_SearchJobId] 
@Name nvarchar(60),
@UserName nvarchar(40),
@Tel int,
@Region nvarchar(70),
@Job nvarchar(40)
as
Insert into Register.dbo.[User](Name,UserName,Tel,Region,JobId) 
values(@Name,@UserName,@Tel,@Region,(select y.Id from dbo.Job y where y.Name=@Job))
GO
